<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
</head>

<body>
    <%- include ('../includes/header.ejs') %>
    
        <main>
            <section id="fondo">
                <h4> ¿ Seguro que quieres eliminar la publicación ? </h4>
                <picture >
                    <img src="/images/productos/<%= product.imagen%>" alt="">
                </picture>
                <h4>
                    <%= product.name %>
                </h4>
                <form action="/delete/<%=product.id%>?m=delete" method="post" id="boton">

                    <a href="/products/finder"><button type="reset" class="cancelar">No</button></a>

                    <button type="submit" class="borrar">Sí</button>


                </form>
            </section>
        </main>
        <%- include ('../includes/footer.ejs') %>

       <script src="../../scripts/menu.js"></script>

</body>