<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
</head>

<body>
    <%- include ('../includes/header.ejs') %>
        <!-- break  -->
        <main>
          <!--    <div id="ruta">
                <h6 class="texto">productos - baño - griferia -</h6>
                <h6 class="ruta__texto ruta__texto--resaltado">
                    <%= product.name %>
                </h6> -->
            </div>
            <section id="producto">
                <picture id="producto__imagen">
                    <img src="/images/productos/<%= product.imagen%> " alt="">
                </picture>
                <article id="producto__informacion">
                    <h2 id="producto__titulo">
                        <%= product.name %>
                    </h2>
                    <ul id="producto__tabla">
                        <!-- generador -->
                        <% for( let i=0; i < informacion.length; i++ ) { let item=informacion[i] 
                        if(product.information[item]=="" ){ continue } %>
                            <li class="producto__tablaItem">
                                <h3 class="producto__itemsTabla">
                                    <%= informacion[i] %>
                                </h3>
                                <h3 class="producto__infoTabla">
                                    <%= product.information[item] %>
                                </h3>
                            </li>
                            <% } %>
                    </ul>
                    <div id="producto__compra">
                        <h5>Valor Final:</h5>
                        <h3> $ <%= product.price %>
                        </h3>
                        
                    </div>
                    <% if (user && user.isAdmin){ %>
                        
                    <a href="/products/productDelete/<%= product.id %> "><i  id= "basura" class="fa-solid fa-trash basura"></i></a>
                    <a href="/products/edit/<%= product.id %> "><i id="edit" class="fa-solid fa-pen-to-square edit"></i> </a>
                    <% } %>
                </article>
            </section>
            <section id="detalles">
                <h3>Detalles del producto</h3>
                <ul id="detalles__navegacion">
                    <% for( let i=0; i < details.length; i++ ) { let item=details[i] 
                        if(product.details[item]=="" ){ continue }%>
                        <li>
                            <%= details[i] %>
                        </li>
                        <% } %>
                </ul>
                <article id="detalles__infoDetalle">
                    <picture class="imagen">
                        <img src="<%= product.details %> " alt="">
                    </picture>
                </article>
            </section>
        </main>
        <!-- break -->

        <%- include ('../includes/footer.ejs') %>

        <script src="../../scripts/menu.js"></script>

</html>